
@{
    ViewBag.Title = "500 Sayfası";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Burası 500 Sayfası</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Istatistik/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active">500 Sayfası</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="error-page">
            <h1 class="headline text-green"> 500</h1>

            <div class="error-content">
                <h1>
                    <i class="fas fa-exclamation-triangle text-green"></i>
                    Hata! <br /> Sayfa bulunamadı.
                </h1>

                <p>
                    Aradığınız sayfayı bulamadık.
                </p>
            </div>
        </div>
    </section>
</div>