@using Proje.Entity.Concrete
@model List<Category>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Kategori Listesi";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kategori Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kategori Listesi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <a href="/category/add" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                                Kategori Ekle
                            </a>
                        </div>


                        <div class="card-body">

                            <table class="table table-bordered table-striped table-hover">
                                <tr class="text-center text-bold">
                                    <td style="width:7%;">#</td>
                                    <td style="width:50%;">Kategori Adi</td>
                                    <td style="width:7%;">Durum</td>
                                    <td style="width:36%;">İşlem</td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td>#@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="/category/edit/@item.Id" class="btn btn-warning btn-sm">
                                                <i class="fas fa-edit"></i>
                                                Düzenle
                                            </a>
                                            <a href="" class="btn btn-info btn-sm">
                                                <i class="fas fa-bookmark"></i>
                                                Başlıklar
                                            </a>
                                            <a href="/category/delete/@item.Id" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                                Sil
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>